@{
    // Le decimos a la vista que use la plantilla principal
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Iniciar Sesión";
}

<style>
    body {
        background-image: url(/img/Fondo.png);
        background-size: cover;
        backdrop-filter: blur(2px);
    }

    .container {
        opacity: 0.95;
    }
</style>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <div class="text-center">
                            <img src="~/img/usuario.png" alt="Icono de Usuario" class="mb-4" width="125px" height="auto" />
                        </div>

                        @if (TempData["RegistroExitoso"] != null)
                        {
                            <div class="alert alert-success">@TempData["RegistroExitoso"]</div>
                        }

                        @if (@ViewBag.Bool)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <i class="bi bi-exclamation-triangle-fill"></i>
                                @ViewBag.Error
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        <form asp-action="Login" asp-controller="Home" method="post">
                            <div class="form-floating mb-4">
                                <input type="text" name="User" id="userInput" class="form-control form-control-lg" placeholder="Boleta" required />
                                <label for="userInput">Boleta:</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input type="password" name="Pass" id="passInput" class="form-control form-control-lg" placeholder="Contraseña" required />
                                <label for="passInput">Contraseña:</label>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary btn-lg" type="submit">
                                    Iniciar Sesión
                                </button>
                            </div>

                            <div class="text-center mt-4">
                                <p>¿No tienes una cuenta? <a asp-action="Registro" asp-controller="Home">Regístrate aquí</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>